@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Regular.eot');
    src: url('PlusJakartaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('PlusJakartaSans-Regular.woff2') format('woff2'),
        url('PlusJakartaSans-Regular.woff') format('woff'),
        url('PlusJakartaSans-Regular.ttf') format('truetype'),
        url('PlusJakartaSans-Regular.svg#PlusJakartaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Bold.eot');
    src: url('PlusJakartaSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('PlusJakartaSans-Bold.woff2') format('woff2'),
        url('PlusJakartaSans-Bold.woff') format('woff'),
        url('PlusJakartaSans-Bold.ttf') format('truetype'),
        url('PlusJakartaSans-Bold.svg#PlusJakartaSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-SemiBold.eot');
    src: url('PlusJakartaSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('PlusJakartaSans-SemiBold.woff2') format('woff2'),
        url('PlusJakartaSans-SemiBold.woff') format('woff'),
        url('PlusJakartaSans-SemiBold.ttf') format('truetype'),
        url('PlusJakartaSans-SemiBold.svg#PlusJakartaSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Medium.eot');
    src: url('PlusJakartaSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('PlusJakartaSans-Medium.woff2') format('woff2'),
        url('PlusJakartaSans-Medium.woff') format('woff'),
        url('PlusJakartaSans-Medium.ttf') format('truetype'),
        url('PlusJakartaSans-Medium.svg#PlusJakartaSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

